.contact-section {
	background-color: $DarkBackground;
}
.contact-header{
	padding: 30px;
	font-size: 25px;
	letter-spacing: 1.5px;
	text-align: center;
	color: #fff;
}

.contact-icon-wrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	border-radius: 50%;
	border: solid 3px $PrimaryColor;

	.contact-icon {
		width: 50px;
		margin: 0 auto;
		position: relative;
	}
}

.contact-data {
		&-list{
			display: flex;
			flex-direction: column;
			&-item{
				display: flex;
				flex-direction: column;
				&-text {
					display: block;
					margin: 20px 30px;
					font-size: 20px;
					text-align: center;
					color: #fff;
				}
				&-link{
					text-decoration: none;
					color: #fff;
				}
			}
		}
}

.management-data {
	&-list {
		display: flex;
		flex-direction: column;
		&-item {
		}
	}

	.person-data{
		margin-bottom: 15px;
		text-align: center;
		color: #fff;
		&-name{
			margin: 0;
			padding: 0;
			font-size: 20px;
		}
		&-position{
			line-height: 0.7px;
			font-style: italic;
			font-size: 12px;
		}
	}
	.person-contact {

		&-link{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px 35px;
			text-decoration: none;
			color: #fff;
			&-text {
				flex-grow: 2;
				margin-left: 30px;

			}
			.contact-icon{
				width: 20px;
			}
		}

	}
}