.contact-section {
	background-color: $DarkBackground;
	@media (min-width: $desktop-xs) {
		padding: 60px 0;
	}
	.contact-section-wrapper{
		max-width: 1366px;
		margin: 0 auto;
	}
}
.contact-header{
	padding-bottom: 50px;
	color: #fff;
	text-align: center;
	font-size: 25px;
	letter-spacing: 1.5px;
	@media (min-width: $desktop-xs) {
		font-size: 30px;
	}
}

.contact-icon-wrapper {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 10px;
	border-radius: 50%;
	border: solid 3px $PrimaryColor;
	transition: 1.5s;
	.contact-icon {
		width: 50px;
		margin: 0 auto;
		position: relative;
	}
}

.contact-data {
		&-list{
			display: flex;
			flex-direction: column;
			@media (min-width: $mobile) {
				flex-direction: row;
			}
			&-item{
				display: flex;
				flex-direction: column;
				@media (min-width: $mobile) {
					width: 33.33%;
				}
				&-link{
					text-decoration: none;
					color: #fff;
					display: flex;
					flex-direction: column;
					&:hover{
						.contact-data-list-item-text{
							color: $PrimaryColor;
						}
						.contact-icon-wrapper{
							border-color: #fff;
						}
					}
				}
				&-text {
					display: block;
					text-align: center;
					font-size: 20px;
					margin: 20px 30px;
					color: #fff;
					transition: 0.3s;
					@media (min-width: $mobile) {
						font-size: 13px;
					}
					@media (min-width: $desktop-xs) {
						font-size: 20px;
					}
				}
			}
		}
}

.management-data {
	&-list {
		display: flex;
		flex-direction: column;
		@media (min-width: $mobile) {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
		&-item {
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: $mobile) {
				max-width: 400px;
			}
		}
	}

	.person-data{
		text-align: center;
		color: #fff;
		margin-bottom: 15px;
		&-name{
			font-size: 20px;
			padding: 0;
			margin-bottom: 3px;
			font-weight: bold;
		}
		&-position{
			font-style: italic;
			margin-top: 10px;
			font-size: 15px;
		}
	}
	.person-contact {
		//margin-right: 40px;
		&-link{
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 20px 35px;
			text-decoration: none;
			color: #fff;
			transition: 0.3s;
			&:hover{
				color: $PrimaryColor;
				.contact-icon-wrapper{
					border-color: #fff;
				}
			}
			&-text {
				flex-grow: 2;
				margin-left: 15px;
			}
			.contact-icon{
				width: 20px;
			}
		}

	}
}