.footer-section{
	background: $PrimaryColorDark;
	color: #fff;
	font-size: 15px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	@media (min-width: $desktop-xs) {
		flex-direction: row;
		justify-content: space-between;
	}
	.footer-section-performer{
		order: 2;
		a {
			text-decoration: none;
			color: $PrimaryColor;
			@media (min-width: $desktop-xs) {
				padding-left: 10px;
			}
		}
		span{
			@media (min-width: $desktop-xs) {
				padding-left: 30px;
			}
		}
	}
	.footer-section-logo {
		order: 1;
		margin-bottom: 15px;
		height: 30px;
		width: 150px;

	}
}