.information-section {
	.information-wrapper{
		display: flex;
		flex-direction: column;

		@media (min-width: $mobile) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}

		.information-element_1 {
			background: url("../../img/rawpixel-558597-unsplash.jpg");
		}
		.information-element_2 {
			background: url("../../img/firdouss-ross-564937-unsplash.jpg");
		}
		.information-element_1,.information-element_2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 45vh;
			padding: 5px;
			color: #fff;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-color: #545454;
			background-blend-mode: multiply;
			@media (min-width: $mobile) {
				height: 30vh;
				width: 50%;
			}
			@media (min-width: $desktop-xs) {
				height: 50vh;
			}
			&:hover{
				background-color: #6D94D8;
			}

		}
		.information-element-text {
			max-width: 480px;

			.information-element-text-header{
				padding-bottom: 5px;
				text-align: center;
				@media (min-width: $mobile-s) {
					font-size: 35px;
				}
				@media (min-width: $desktop-xs) {
					font-size: 30px;
					padding-bottom: 15px;
				}
			}
			.information-element-text-description{
				max-width: 300px;
				margin: 0 auto;
				padding: 0 5%;
				text-align: justify;
				font-size: 13px;
				@media (min-width: $mobile-s) {
					max-width: 400px;
					font-size: 18px;
				}
				@media (min-width: $desktop-xs) {
				 max-width: 400px;
					font-size: 16px;
				}
			}
		}

		.information-element_3 {
			width: 100%;
			height: 45vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-image: linear-gradient(to right bottom, rgba(2,113,226,0.8), rgba(2, 113, 224, 2.8));
			text-align: center;
			color: #fff;
			@media (min-width: $mobile) {
				height: 30vh;
			}
			@media (min-width: $desktop-xs) {
				height: 50vh;
			}
			h3 {
				margin-bottom: 10px;
			}
			.information-container{
				width: 90%;
				height: 160px;
				background: #fff;
				box-shadow: 0 3px 15px rgba(0,0,0,0.2);
			}
			#map {
				width: 100%;
				height: 45vh;
				background-color: grey;
				@media (min-width: $mobile) {
					height: 30vh;
				}
				@media (min-width: $desktop-xs) {
					height: 50vh;
				}
			}
		}

	}
}