.navigation{
	position: absolute;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	top: 25px;
	left: 0;
	right: 0;
}
.menu {
	//filter: brightness(120%) !important;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 1366px;
	height: 70px;
	position: relative;
	background-color: #fff;
	z-index: 7;
	box-shadow: 0 1px 2px #ccc;

	li {
		float: left;
		width: 33%;
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		align-items: center;
	}

	a {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		color: $TextColor;
		text-decoration: none;
		position: relative;
		font-size: 13px;
		z-index: 9;
		font-weight: 700;
		letter-spacing: 0.8px;
		margin: auto 0;
		&:hover {
			color: #fff;
		}
	}
	.navigation-logo-conatiner {
		display: none;
	}
}
.navigation-logo {
	height: 100%;
	width: 70%;
	margin: 0 auto;

}
a.active {
	pointer-events: none;
	&:hover {
		color: #fff;
	}
}

li.slider {
	width: 34%;
	height: 100%;
	position: absolute;
	left: 33%;
	top: 0;
	background-color: #fff;
	z-index: 8;
	transition: left .4s, background-color  1s;
	//background-image: linear-gradient(to right top, #0655d3, #1a5fd4, #2969d5, #3873d5, #467cd4);

}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
	& ~ .slider {
		left: 0%;
		background-image: linear-gradient(to right top, #0655d3, #1a5fd4, #2969d5, #3873d5, #467cd4);
		//background-color: $PrimaryColor;
	}
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
	& ~ .slider {
		left: 33%;
		background-image: linear-gradient(to right top, #0655d3, #1a5fd4, #2969d5, #3873d5, #467cd4);
		//background-color: $PrimaryColor;
	}
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
	& ~ .slider {
		left: 66%;
		background-image: linear-gradient(to right top, #0655d3, #1a5fd4, #2969d5, #3873d5, #467cd4);
		//background-color: $PrimaryColor;
	}
}