#preloader {
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1000;
	position: absolute;
	.preloader-wrapper{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		.preloader-logo{
			width: 60%;
			transition: all .4s ease-in;
		}
		.fullSize {
			width: 100%;
		}
	}
}