.welcome-section {
	max-width: 2880px;
	max-height: 100vh;
	min-width: 100vw;
	height: 600px;
	position: relative;
	background: url("../../img/daf-1024x600.jpg") no-repeat center;
	@media(min-width: 1024px){
		background: url("../../img/daf-1440x900.jpg") no-repeat center;}
	@media(min-width: 1440px){
		height: 1050px;
		background: url("../../img/daf-1680x1050.jpg") no-repeat center;}
	@media(min-width: 1680px){
		background: url("../../img/daf-1920x1200.jpg") no-repeat center;}
	@media(min-width: 1920px){
		height: 1600px;
		background: url("../../img/daf-2560x1600.jpg") no-repeat center;}
	@media(min-width: 2560px){
		background: url("../../img/daf-2880x1800.jpg") no-repeat center;}
	filter: brightness(90%);
	.poligon {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		background-image: linear-gradient(to right bottom, rgba(2,113,226,0.8), rgba(2, 113, 224, 2.8));
		clip-path: polygon(0% -25%, 0% 100%, 61% 110%);
	}
	.welcome-section-header{
		position: absolute;
		color: #fff;
		font-size: 28px;
		top: 75%;
		left: 10%;
		z-index: 2;
		@media (min-width: $mobile-s) {
			max-width: 5rem
		}
		@media (min-width: $desktop-xs) {
			max-width: 8rem
		}

	}
	.phone-number-container{
		position: absolute;
		top: -45px;
		z-index: 10;
		right: 10%;
		.phone-number-link{
			font-size: .2rem;
			color: #fff;
			text-decoration: none;
			img{
				margin-right: 5px;
				height: .2rem;
				width: .2rem;
			}
		}
	}

}

